/* ========================= Estilos Globais ========================= */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* ========================= Conteúdo Principal ========================= */
.content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* ========================= Promoções ========================= */
.promotions {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.promotions:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.promotion-slider {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.promotion-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.promotion-slide img {
    width: 100%;
    height: auto;
}

.promotion-slide.active {
    opacity: 1;
}

/* ========================= Filtros e Produtos ========================= */
.products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Filtros */
.filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.filters:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.filters form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.filters label {
    flex: 1;
    margin-bottom: 10px;
}

.filters select,
.filters input[type="range"] {
    flex: 2;
    margin-bottom: 10px;
}

.filters button {
    padding: 10px 20px;
    background-color: #030fb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.filters button:hover {
    background-color: rgb(11, 2, 100);
    transform: scale(1.05);
}

/* Produtos */
.products {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    overflow-y: auto;
    height: 85vh;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    flex: 1 1 calc(20% - 20px);
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.03);
}

.product-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ========================= Anúncios ========================= */
.ads {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ads h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.ad-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.ad-item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s ease;
}

.ad-item:hover {
    transform: scale(1.05);
}

.ad-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ad-item p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/* ========================= Responsividade ========================= */

/* Telas menores que 1024px */
@media (max-width: 1024px) {
    .product-item {
        flex: 1 1 calc(33.33% - 20px);
    }
    .ad-list {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* Telas menores que 768px */
@media (max-width: 768px) {
    .product-item {
        flex: 1 1 calc(50% - 20px);
    }
    .ad-list {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .filters form {
        flex-direction: column;
    }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
    .product-item {
        flex: 1 1 100%;
    }
    .ad-list {
        grid-template-columns: 1fr;
        align-items: center;
    }
}
